body{
  font-family: 'Roboto Mono', monospace;
  background: #fff6f0;
  margin: 0;
  padding: 10px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {

    h1{
      font-size: 4em;
    }

    nav > ul > li > a {
      font-size: 2em;
    }

}

nav{
  text-align: center;
}

h1{
  margin-bottom: 5px;
}

ul{
  margin-top: 0px;
  list-style-type: none;
  width: auto;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

li{
  float: left;
  padding: 10px;
}

li a{
  text-decoration: none;
  color: black;
}

li:hover{
  background: #eee;
}

li a:hover{
  font-weight: bolder;
}
