
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 896px){

    .container p {
      font-size: 14px;
      text-align: justify;
      padding: 20px;
    }

    .container-the-data{
      background: #fff;
      border: dashed;
    }

    .container-versions p::before{
      content: attr(data-date);
        font-size: 28px;
        padding: 10px;
        position: relative;
        padding-right: 15%;
    }


  }

#main-about-container h2{
  text-align: center;
}

#initial-release{
    background: #6eff74;
    border-radius: 10px;
}

.container-versions p{
  text-align: left;
}

.container-versions p::before{
  content: attr(data-date);
    font-size: 12px;
    padding: 10px;
    position: relative;
    padding-right: 15%;
}
