#banner-top-title-container{
  text-align: center;
}

span.bill-title{
  display: block;
  font-size: 24px;
}

span.bill-intro-date{
  font-size: 10px;
}

#parent-body-container{
  padding-top: 20px;
  display: flex;
}

#sidepanel-nav-bar-container{
  z-index: 1;
  width: 15%;
}

#sidepanel-nav-bar-container span{
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#sidepanel-nav-bar-container span:hover{
  background-color: #eee;
  cursor: pointer;
}

#bill-data-container{
  padding-left: 10px;
  flex-grow: 1;
  width: 95%;
  padding-right: 10px;
  text-align: justify;
}

.bill-data-pane{
  display: none;
}

#bill-text-pane{
  display: block;
  text-align: center;
  margin-left: -15%;
}

.active{
  background-color: #eee;
  font-weight: bold;
}

/* Variables */

@background: #252827;

@color-primary: #004ffc;
@color-light: white;
@color-dim: #6c6d6d;
@spacing: 50px;
@radius: 4px;

@date: 120px;
@dotborder: 4px;
@dot: 11px;
@line: 4px;

/* Timeline */

#timeline-content{
  margin-left: -15%;
  text-align: center;
}

.timeline {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: fade(white, 3%);
  color: fade(white, 80%);
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  /* padding: 50px; */
  list-style: none;
  text-align: left;
  max-width: 30%;
}

.timeline > .event {
  padding-bottom: (50px * 0.5);
  margin-bottom: 50px;
  position: relative;
  width: 100%;
  text-align: center;
}

/* .timeline > .event:last-of-type{
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
} */

.timeline > .event::before, .event::after{
  position: absolute;
  display: block;
  top: 0;
}

.timeline > .event::before{
  color: black;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.7em;
}

/* .timeline > .event::after{
  box-shadow: 0 0 0 4px fade(#004ffc,100%);
  height: 20px;
  width: 11px;
  content: "";
  top: 100px;
  border-left: 4px solid black;
} */

.timeline > .event p{
  font-size: 18px;
}

#bill-history-title{
  font-size: 24px;
  text-decoration: underline;
}

#state-select-container{
  width: 20%;
}

#senator-title, #sponsors-title{
  text-align: center;
}

#senator-contact-container{
  overflow-x: hidden;
  padding-bottom: 10px;
}

#sponsor-contact-container{
  margin-left: -15%;
  overflow-x: hidden;
  padding-bottom: 10px;
}

#senator-contact-pane{
  padding-left: 24%;
  width: 100%;
}

#sponsors-title{
  margin-left: -15%;
}

.sponsor-column {
  width: 35%;
  padding: 0 10px;
}

.senator-column{
  float: left;
  width: 25%;
  padding: 0 10px;
}

.senator-row{
  margin: 0 -5px;
}

.sponsor-row {
  margin-left: 30%;
}

.senator-card, .sponsor-card {
  text-align: center;
  background: #eee;
  box-shadow: 3px 3px #c1c1c1;
}

.senator-card h1{
  font-size: 20px;
  margin: 0;
}

.sponsor-card h1{
  font-size: 20px;
  margin: 0px;
}

.senator-card p{
  font-size: 14px;
  margin: 0;
}

.senator-card img{
  max-width: 50%;
  padding: 10px;
}

.sponsor-card img{
  max-width: 50%;
  padding: 10px;
}

.senator-card div:first-of-type img{
  max-width: 10%;
}

.sponsor-card div:first-of-type img{
  max-width: 10%;
}
